doctype html
html(ng-app="franSite" lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='initial-scale=1.0, user-scalable=no, width=device-width')
    meta(property='og:url', content='http://www.francescadubrock.com')
    meta(property='og:type', content='website')
    meta(property='og:title', content='The Art of Francesca DuBrock.')
    meta(property='og:description', content='Francesca DuBrock, artist.')
    title Francesca DuBrock
    script(src='javascripts/scroll.js')
    link(rel='stylesheet', href='stylesheets/style.css')

  block body
    a(href='/main')
      img#opener(class="gfyitem" data-id='ChubbySmartEgret' data-controls='false' data-dot='false' data-perimeter='false')
