<!DOCTYPE html>

<html ng-app="franSite" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <meta property="og:url" content="http://www.francescadubrock.com">
    <meta property="og:type" content="website">
    <meta property="og:title" content="The Art of Francesca DuBrock.">
    <meta property="og:description" content="Francesca DuBrock artwork.">
    <title>Francesca DuBrock</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="javascripts/ng-file-upload.min.js"></script> 
    <script src="javascripts/app.js"></script>
      </head>
  <body>
    <div id="container">
      <div>
        <h1>ARTSY STUFF GOES HERE!</h1>
      </div>
      <div id="blog" ng-controller= "UserController as User" ng-switch="User.userState">
        <div ng-show="User.loggedIn">
          <button ng-click="User.toggleEditor()">Toggle Edit</button>
          <div id="editor" ng-hide="User.editor">
            <h1>Welcome back, Turdy</h1>
            <h3>First, upload the image you would like</h3>
            <div ng-controller="UploadController">
              <div ngf-drop ngf-select ng-model="files" class="drop-box" 
                ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true"
                accept="image/*,application/pdf">Drop image here
              </div>
              Files:
                <ul>
                  <li ng-repeat="f in files" style="font:smaller">{{f.name}}</li>
                </ul>
                Upload Log:
                <pre>{{log}}</pre>
            </div>
            <h1> And then make yo' goddamn WEB PAGE</h1>
            <h1>{{post.title}}</h1>
            <img ng-src="images/blogpost/{{post.image}}">
            <p>{{post.body}}</p>
            <form name='postCreator' method="post" action="/blogsave"> 
              <label>Post Title</label>
              <input type="text" name="post-title" ng-model="post.title"><br/>
              <label>Image</label>
              <select ng-model="post.image">
                <option ng-repeat="image in User.images" value="{{image}}">
                  {{image}}
                </option>
              </select>
              <br/>
              <label>Post Body </label><textarea ng-model="post.body"></textarea><br/>
              <h1>and then click this goddamn BUTTON</h1>
              <button type="submit">FUCK YEAH</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>