doctype html
html(ng-app="franSite" lang='en')
  head
    title Xav Stories
    script(src='javascripts/scroll.js')
    link(rel='stylesheet', href='stylesheets/style.css')

  block body
    a(href='/main')
      img#opener(class="gfyitem" data-id='ChubbySmartEgret' data-controls='false' data-dot='false' data-perimeter='false')
