doctype html
html
  body
    h1  Hey, you! Log in to make or edit posts 
    form(action='', ,='', method='post')
      label(for='user')  User: 
      input(name='user', ,='', placeholder:='', user='')
      label(for='password')  Password:
      input(name='password', ,='', placeholder:='')
      input(type='submit', ,='', value='submit')
