doctype html
html(lang='en' ng-app='franSite')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='initial-scale=1.0, user-scalable=no, width=device-width')
    meta(property='og:url', content='http://www.francescadubrock.com')
    meta(property='og:type', content='website')
    meta(property='og:title', content='The Art of Francesca DuBrock.')
    meta(property='og:description', content='Francesca DuBrock, artist.')
    title Francesca DuBrock
    link(href='http://fonts.googleapis.com/css?family=Crimson+Text:400,400italic'  rel='stylesheet' type='text/css')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js')
    script(src='http://code.jquery.com/jquery-1.11.3.min.js')
    script(src='javascripts/app.js')
    script(src="javascripts/angular-sanitize.min.js")
    link(rel='stylesheet', href='stylesheets/style.css')
  block body
    div(ng-controller='UserController as User')
      div(ng-show='User.loggedIn')
        button#toggle(ng-click='User.toggleEditor()') Toggle Edit
        button#logout(ng-click='User.logOut()') Log OUT
        #editor(ng-hide='User.editor')
          h1 Welcome back, Turdy
          h3 First, upload the image you would like
          div(ng-controller='UploadController')
            form
              input(type='file' file-model='myFile' multiple)
              button(ng-click='uploadFile()') Upload
          h3  And then make yo' goddamn WEB PAGE
          .img-container#preview
            .img-title
              img(ng-src='images/blogpost/{{User.firstImage}}')
              img(ng-src='images/blogpost/{{User.secondImage}}')
              img(ng-src='images/blogpost/{{User.thirdImage}}')
              img(ng-src='images/blogpost/{{User.fourthImage}}')
              img(ng-src='images/blogpost/{{User.fifthImage}}')
              img(ng-src='images/blogpost/{{User.sixthImage}}')
              #embedded-video(ng-bind-html='User.video | toHtml')
              span(ng-bind-html='User.body | toHtml')
          form(name='postCreator', ng-submit='User.save()')
            label Image
            select(name='firstImage', ng-model='User.firstImage')
              option(ng-repeat='image in User.images', value='{{image}}')
                | {{image}}
            br
            select(name='secondImage', ng-model='User.secondImage')
              option(ng-repeat='image in User.images', value='{{image}}')
                | {{image}}
            br
            select(name='thirdImage', ng-model='User.thirdImage')
              option(ng-repeat='image in User.images', value='{{image}}')
                | {{image}}
            br
            select(name='fourthImage', ng-model='User.fourthImage')
              option(ng-repeat='image in User.images', value='{{image}}')
                | {{image}}
            br
            select(name='fifthImage', ng-model='User.fifthImage')
              option(ng-repeat='image in User.images', value='{{image}}')
                | {{image}}
            br
            select(name='sixthImage', ng-model='User.sixthImage')
              option(ng-repeat='image in User.images', value='{{image}}')
                | {{image}}
            br
            label Paste video embed code here 
            textarea(name='video' ng-model='User.video')
            br
            label Post Body 
            textarea(name='body' ng-model='User.body')
            br
            h3 and then click this goddamn BUTTON
            button.button(type='submit') FUCK YEAH
      #post
        .img-container(ng-repeat= 'post in User.postsPaginated()')
          .img-title
            div(ng-repeat='image in post.images track by $index')
              div(ng-bind-html="image | toHtml")
            #embedded-video(ng-bind-html='post.video | toHtml')
            div#text(ng-bind-html='post.body')
            div#post-edits(ng-show='User.loggedIn')
              button(ng-click='User.delete(post)') Delete Post
              button(ng-click='User.showPostUpdate(post.body)') Edit Text
              #post-update(ng-show='User.postUpdate')
                form(name ='User.updateTextForm' ng-submit='User.updateText(post._id)')
                  textarea(name='body' ng-model='User.updatedText') {{User.updatedText}}
                  br
                  button.button(type='submit') FUCK YEAH
            #break
              h1 * * * 
        #next
          button.button#prev-button(ng-click='User.prevPosts()' ng-show='User.currentPage') Previous
          button.button#next-button(ng-click='User.nextPosts()' ng-show='User.nextButton') Next
    #contactinfo
      #contacttitle
        a(href='mailto:hello@francescadubrock.com')
          h3 hello@francescadubrock.com

        

