doctype html
html(lang='en' ng-app='franSite')
  head
    title Xav Stories
    link(href='http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js')
    script(src='http://code.jquery.com/jquery-1.11.3.min.js')
    script(src='javascripts/app.js')
    script(src="javascripts/angular-sanitize.min.js")
    link(rel='stylesheet', href='stylesheets/style.css')
  block body
    div(ng-controller='UserController as User')
      div(ng-show='User.loggedIn')
        button#toggle.button(ng-click='User.toggleEditor()') Toggle Edit
        button#logout.button(ng-click='User.logOut()') Log OUT
        #editor(ng-hide='User.editor')
          h1 Welcome back! Looking forward to your addition.
          h3 First, upload any image you would like
          div(ng-controller='UploadController')
            form
              input(type='file' file-model='myFile' multiple)
              button(ng-click='uploadFile()') Upload
          h3  And then make yo' post
          .img-container#preview
            .img-title
              img(ng-src='images/blogpost/{{User.firstImage}}')
              img(ng-src='images/blogpost/{{User.secondImage}}')
              img(ng-src='images/blogpost/{{User.thirdImage}}')
              img(ng-src='images/blogpost/{{User.fourthImage}}')
              img(ng-src='images/blogpost/{{User.fifthImage}}')
              img(ng-src='images/blogpost/{{User.sixthImage}}')
              #embedded-video(ng-bind-html='User.video | toHtml')
              span(ng-bind-html='User.body | toHtml')
              div
                h3 -{{User.author}}
          form(name='postCreator', ng-submit='User.save()')
            label Image
            select(name='firstImage', ng-model='User.firstImage')
              option(ng-repeat='image in User.images', value='{{image}}')
                | {{image}}
            br
            select(name='secondImage', ng-model='User.secondImage')
              option(ng-repeat='image in User.images', value='{{image}}')
                | {{image}}
            br
            select(name='thirdImage', ng-model='User.thirdImage')
              option(ng-repeat='image in User.images', value='{{image}}')
                | {{image}}
            br
            select(name='fourthImage', ng-model='User.fourthImage')
              option(ng-repeat='image in User.images', value='{{image}}')
                | {{image}}
            br
            select(name='fifthImage', ng-model='User.fifthImage')
              option(ng-repeat='image in User.images', value='{{image}}')
                | {{image}}
            br
            select(name='sixthImage', ng-model='User.sixthImage')
              option(ng-repeat='image in User.images', value='{{image}}')
                | {{image}}
            br
            label Paste video embed code here 
            textarea(name='video' ng-model='User.video')
            br
            button.button(type='button' ng-click='User.videoExplain()') How do I add a video?
            div#video-tutorial(ng-show='User.videoTutorial')
              h2 How to get a video in your post
              p To add a video to this website, you will need to do the following:
              ul
                li Upload it to some sort of video sharing service (like vimeo or youtube).
                li Find the embed code. Vimeo and youtube both have a 'share' button that is pretty easy to find. Click on that button, and they will have and option that says 'embed'. 
                li Copy the gobbledygook from the 'embed' section. It should have some reference to iframes and be enclosed in '<' and '>' things.
                li Paste the gobbledygook into the text box above, and if it's all good, a preview of the video will pop up.
                li If you would like to change the size of the video, you can do so by changing the iframe gobbledygook. Right next to where you found the embed code, there is a 'show more options' button. Click on that, and change the video size. Repeat the copy-pasting to see the changes.
                li
                  b If you want your video to be viewable ONLY on this website, use YouTube. During upload select the 'unlisted' option.
            br
            label Post Body 
            textarea(name='body' ng-model='User.body')
            br
            button.button(type='button' ng-click='User.htmlExplain()') How the hell do I make the stupid text do what I want it to?
            div#text-tutorial(ng-show='User.textTutorial')
              h2 How to submit a post
              p Due to my limited skillz, creating a post is a little bit wacky. You will have to jump through a hoop or two, and for that you have my eternal apology. The text box above is expecting HTML, which is a weird and interesting way to tell computers how to format text. You have two options:
              ul
                li Learn how to write text in HTML. Check it out 
                  a(href='http://www.w3schools.com/html/html_formatting.asp') here
                li Write in any text editor of your choice (Word, email, whatever), and then copy-paste it 
                  a(href='http://word2cleanhtml.com/') here. 
                  |Click on the 'convert to clean html' button, and then copy-paste whatever comes out into the text box above. 

            br
            label Who is making this post?
            textarea(name='author' ng-model='User.author')
            h3 and then click this goddamn BUTTON
            button.button(type='submit') FUCK YEAH
      #post
        .img-container(ng-repeat= 'post in User.postsPaginated()')
          .img-title
            div(ng-repeat='image in post.images track by $index')
              div(ng-bind-html="image | toHtml")
            #embedded-video(ng-bind-html='post.video | toHtml')
            div#text(ng-bind-html='post.body')
            div#author
              h3 -{{post.author}}
            div#post-edits(ng-show='User.loggedIn')
              button.button(ng-click='User.delete(post)') Delete Post
              button.button(ng-click='User.showPostUpdate(post.body)') Edit Text
              #post-update(ng-show='User.postUpdate')
                form(name ='User.updateTextForm' ng-submit='User.updateText(post._id)')
                  textarea(name='body' ng-model='User.updatedText') {{User.updatedText}}
                  br
                  button.button(type='submit') FUCK YEAH
            #break
              h2 * * * 
        #next
          button.button#prev-button(ng-click='User.prevPosts()' ng-show='User.currentPage') Previous
          button.button#next-button(ng-click='User.nextPosts()' ng-show='User.nextButton') Next

        

