body {
  margin: 0 auto;
  font-family: 'Crimson Text', serif;
}

.section {
  height: 100vh;
  width: 100%;
}

/*Header*/

#art {
  overflow: auto;
}

.gfyitem {
  width: 100% !important;
  max-width:100% !important;
  height: auto !important;    
}

.gfyitem div {
  max-width: 100% !important;
  max-height: 100vh !important;
}
.gfyPreLoadCanvas{
  display: none;
}

@media screen and (min-aspect-ratio: 16/9) {
  video {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-aspect-ratio: 16/9) {
  video {
    width: auto;
    height: 100%;
  }
}

video {
  top: 50%!important;
  left: 50%!important;
  min-width: 100%!important;
  min-height: 100%!important;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  object-fit: cover!important;
}


.gfyGif{
  position:relative !important;
}

/*Editor and blog post*/

#editor{
  padding: 5%;
}

#toggle {
  margin-top: 3%;
  margin-left: 5%;
}

#preview {
  background-color: #CCCCCC;
}
#blog {
  height: 100%;
  overflow: scroll;
  padding: 0!important;
  margin: 0 auto;
}

#post {
  margin: 0 auto;
} 

#text {
  max-width: 75%;
  margin: 0 auto;
}

.img-container {
  width: 100%;
  margin: 0 auto;
}

.img-title {
  text-align: center;
}

.img-container img {
  max-width: 100%;
  max-height: 90vh;
  min-height: 400px;
  height: auto;
  margin-top: 2%;
  margin-bottom: 2%;
}

.button {
  display: inline-block;
  font-family: 'Crimson Text', serif;
  font-size: 1em;
  width: 200px;
  padding: 8px;
  color: #000;
  background-color: #fff;
  border: 2px solid #000;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s ease-out,
              color 0.2s ease-out;
}
.button:hover,
.button:active {
  background-color: #999;
  color: #000;
  transition: background-color 0.3s ease-in,
              color 0.3s ease-in;
}

#prev-button {
  float: left;
  margin-left: 15%;
}

#next-button {
  float: right;
  margin-right: 15%;
}

#break h1 {
  font-size: 4em;
}

@media {
  img { 
    width: auto; /* for ie 8 */
  }
}

/*Contact Section*/
#contactinfo {
  clear: both;
  width: 100%;
}
#contacttitle {
  width: 20%;
  text-align: center;
  margin: 0 auto
}

a {
  color: black;
  text-decoration: none;
}




